{deps, [
       {erlybird, ".*", {git, "https://github.com/igb/ErlyBird.git"}},
       {levenshtein, ".*", {git, "https://github.com/igb/levenshtein.git"}},
       {tooterl, ".*", {git, "https://github.com/igb/masterldon.git"}},
       {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git"}},
       {jsone, ".*", {git, "https://github.com/sile/jsone.git"}}
]}.